# Ignore all csvs in data folder except a few
data/*.csv
data/*.xlsx
data/Validated_Training_Data

# Exceptions
!data/AllTraining_080425prj_SJfiltered.csv
!data/Crop_and_Mulch_counts_All_Rivers.csv
!data/Mulch_freq_All_Rivers.csv
!data/Tayloretal_TrainingData.csv

# Outputs / figures
output/*.png
output/*.svg
output/*.xlsx
output/*.csv

# Exceptions
!output/validation_data*.csv

# Notebooks
.ipynb_checkpoints/

# tifs
*.tif*
*.tiff
*.tfw

.env
*.env